<router-outlet></router-outlet>

<body style="background-color: beige;">
  <div style="background-color: black;color: goldenrod;">
    <span style="font-family: monospace;">{{myDate | date:'HH:mm'}} <br> {{date | date: 'dd/MM/yyyy'}} </span>
    <b
      style="font-size: 20px;text-align: center; font-size: 20px; position: absolute;left: 50%;transform: translateX(-50%);">{{dateTimeWord|
      addGoodTime}},{{employeeName | titlecase }}</b>
    <a (click)="exit()" [routerLink]="['/']"
      style="font-size: 18px; font-family: monospace; color: goldenrod;display: flexbox;position: absolute;display: inline-block;transform: translateX(-1%); right: 2.7%;">Exit</a>
    <i class="pi pi-sign-out"
      style="font-size: 1.1rem; display: flexbox;margin-top: 0.2%; position: absolute; display: inline-block;transform: translateX(-1%);right: 1.4%;"></i>
    <br><br>
  </div>
  <div style="text-align: center;">
    <fieldset id="statusInfo">
      <legend style="color: goldenrod;font-family: monospace;font-size: 18px;"><b> Status & Color:</b></legend>
      <ul style="font-family: monospace;">
        <li style="color: rgb(78, 168, 78);">Available</li>
        <li style="color:rgb(238, 210, 52);">Waiting for the order </li>
        <li style="color: rgb(221, 125, 101);">Busy</li>
        <li style="color: rgb(73, 176, 211);">Waiting to pay for the order </li>
      </ul>
    </fieldset>
  </div>
  <div style="text-align: center;"class="tables">
    <fieldset (mouseover)="hover(t)" (mouseleave)="mouseLeave(t)"
      style="font-family: monospace; max-width: 200px;padding: 16px;float: left; border: 2px black solid;border-radius: 8px;width: 160px;height: 105px;padding: 1%;"
       class="animated zoomIn" *ngFor="let t of listTables"
      [style.background-color]="getBackgroundColor(t)" id="table{{t.restaurantTableCode}}" (click)="frame.show();onFielsetClick(t)" data-toggle="modal" data-target="#basicExample" mdbWavesEffect>
      <legend style="font-size: 16px;font-family: monospace;"><b>Table {{t.restaurantTableCode}}</b></legend>
      {{t.numOfSeats}} seats
      <br>
      <!-- <p *ngIf="(t.tableStatusCode === 502 || t.tableStatusCode === 503) && http.flag===true? show(t.restaurantTableCode):noFunction()">  {{priceForTable | currency:'ILS':true}}</p> -->
  </fieldset><br>

  </div>
</body>
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Options</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="font-family: monospace;" class="modal-body mx-3">
        <div class="md-form mb-5" *ngIf="tableStatusCode !== 500 &&  tableStatusCode !== 503 &&  orderCode !== -1">
          <input (click)="frame.hide()" type="radio" [routerLink]="['/orders-in-process', tableCode, orderCode]">
          <label> Add Meal to order</label>
        </div>
        <div class="md-form mb-5" *ngIf="tableStatusCode === 500">
          <input (click)="createNewOrder();frame.hide()" type="radio" aria-selected="false">
          <label> Create order</label>
        </div>
        <div class="md-form mb-4" *ngIf="tableStatusCode !== 500 && tableStatusCode !== 502 && orderCode !== -1 ">
          <input (click)="frame.hide()" type="radio" [routerLink]="['/payment', orderCode]">
          <label> Payment</label>
        </div>
      </div>
    </div>
  </div>
</div>