body {
  background-color: black;
}

.allLetters {
  font-family: monospace;
  font-size: 14px;
}

#InForm {
  padding: 4%;
}

#Text {
  text-align: center;
  margin-left: 10%;
  color: goldenrod;
}

#AllForm {
  background-color: rgba(77, 76, 76, 0.3);
  border: 5px solid rgba(77, 76, 76, 0.3);
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;

}

#TopForm {
  background-color: rgba(77, 76, 76, 0.3);
  color: rgba(77, 76, 76, 0.3);
}

#Logo {
  width: 280px;
  margin-left: 85.5%;
  position: absolute;
}

h4 {
  margin-left: 25%;
  font-family: monospace;
  font-size: 24px;
}

input.ng-invalid.ng-touched {
  border: 3px solid goldenrod;
}

.btnSubmit {
  margin-left: 22% !important;
  font-family: monospace;
  font-size: 18px;
  background: black !important;
  color: #fff !important;
}

.btnSubmit:hover,
.btnSubmit:focus {
  font-family: monospace;
  font-size: 19px;
  background: goldenrod !important;
}