<body>
  <img id="Logo" src="../../assets/Logo.png" alt="">
  <div style="background-color: black;">
    <br><br><br>
  </div>
  <div id="AllForm">
    <div id="TopForm" class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Retrieve password</h4>
    </div>
    <br>
    <label class="allLetters" id="Text">In order to verify data please enter your personal Id:</label>
      
    <div id="InForm" class="modal-body">
      <div [ngClass]="['col-md-6', 'mb-3']">
        <div style="text-align: center;">
          <form (ngSubmit)="onSubmitForgotPasswordForm()" disabled="!forgotPasswordForm.valid"
            #forgotPasswordForm="ngForm">
            <div style="margin-left: 58%">
              <span class="spanim" class="p-float-label">
                <p-inputMask id="float-input-number" mask="999999999" [(ngModel)]="idInputValue"
                  [ngModelOptions]="{standalone: true}"></p-inputMask>
                <label for="float-input-number">ID number</label>
              </span>
              <br>
              <span class="p-float-label">
                <input #name id="float-input" type="text" pInputText [(ngModel)]="fullNameValue"
                  [ngModelOptions]="{standalone: true}" (change)="onlyLetters()" [appOnlyLetters]="name">
                <label for="float-input">Full name</label>
              </span>
            </div>
            <br>

            <button style="margin-right: -85%;" type="submit" mdbBtn class="btnSubmit" mdbWavesEffect>Submit</button>
          </form>
        </div>
      </div>
      <a style="margin-left: 35%;color: goldenrod;" class="allLetters" (click)="closeDialog()" [routerLink]="['/']"
        routerLinkActive="activeClass">Back to login page</a>
    </div>
  </div>
</body>
<p-toast></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>